.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.left {
    
    width: 18rem; 
    border: 1px solid lightgray;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0px 4px 8px 0px rgb(63, 61, 61);
    margin-bottom: 10px;
}

.right {
    border: 1px solid lightgray;
    width: 74%;
    padding-left: 10px;
}
.left img {
    width: 100%;
}

@media only screen and  (max-width:767px) {
    
    .left,.right {
        width: 100%;
    }


}

@media screen and (min-width:768px) and (max-width:992px){
  .right {
      background-color: lime;
  }
    .left,.right {
        width: 49%;
    }
    
}

@media screen and (min-width:993px) and (max-width:1023px) {
    .left {
        width: 33%;
    }
}